@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: black !important;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  color: white;
}

@media (max-width: 768px) {
  swiper-container::part(button-prev),
swiper-container::part(button-next) {
  height: 20px;
}
}

