*{
  margin: 0;
  padding: 0;
}
  
  .banner-video {
    margin: 4% 0;
  }
  
  .content {
    position: absolute;
    width: 40%;
    color: white;
    /* margin-left:7%; */
    top: 20%;
    font-family: 'Open Sans', sans-serif;
    /* border: 2px solid white; */
  }

  .content img {
    width: 40%;
  }
  h1 {
    font-size: 3rem;
  }

  .banner-text {
    font-size: 17px;
    }

    @media (max-width: 1100px) {
      .banner-text{
        font-size: 13px;
        }
        .content {
          top: 30%;
        }
        .banner-video {
          margin: 6% 0;
        }
    }

    @media (max-width:780px) {
      .banner-text{
        display: none;
        }
        .content img {
          width: 80%;
        }
        .content {
          top: 30%;
        }
        .banner-video {
          margin: 8% 0;
        }
    }